@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  color: #fff;
  background: rgb(0,32,61);
background: linear-gradient(90deg, rgba(0,32,61,1) 0%, rgba(0,83,117,1) 100%);
}
.entry-page-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100%;
}
.main-heading {
  color: #fff;
  font-size: 44px;
  margin-top: 40px;
}
.top-heading{
  font-size: 96px;
  color: #fff;
  background: #EBEBFF;
  background: linear-gradient(to right, #EBEBFF 0%, #A8A8FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  opacity: 0.2;
  position: absolute;
  top: 0;
}
.link-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.input-field{
  width: 50%;
  margin-top: 30px;
  height: 60px;
  background-color: transparent;
  box-shadow: none;
  border: 2px solid rgba(255, 255, 255, 0.495);
  border-radius: 5px;
  color: #759EB8;
  font-size: 24px;
  font-family: "Roboto Mono", monospace;
  transition: 0.3s all ease;
  padding: 10px;
}
.input-field:focus-visible{
  outline-color: #fff;
}
.submit{
  font-size: 28px;
  line-height: 38px;
  font-family: inherit;
  padding: 15px 20px;
  margin-top: 40px;
  border: 2px solid #7392B7;
  border-radius: 100px;
  background: none;
  color: #7392B7;
  cursor: pointer;
  transition: all 0.2s ease-in;
  background-color:  #7392B7;
  color: #002841;
}
.submit:hover{
  background: none;
  color: #7392B7;
  transform: translateY(-3px);
  box-shadow: 0px 4px 24px -4px #7392B7;
}
.submit:active{
  background-color:  #7392B7;
  color: #002841;
  transform: translateY(0);
}
.package-type{
  display: flex;
  color: #fff;
  margin-top: 20px;
  justify-content: center;
}
label{
  display: flex;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
.package-type input{
  position: absolute;
  left: -9999px;
}
.package-type input:checked + span:before{
    box-shadow: inset 0 0 0 0.4375em 
}
label span{
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease; 
}
label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #bebede;
}
.scanning-dashboard{
  display: flex;
  flex-direction: column;

}
.scanning-dashboard ul li{
  list-style: none;
  text-decoration: none;
}
.loader-dashboard{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.loader {
  width: calc(100px - 24px);
  height: 50px;
  position: relative;
  animation: flippx 2s infinite linear;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFF;
  transform-origin: -24px 50%;
  animation: spin 1s infinite linear;
}
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  background: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

@keyframes flippx {
  0%, 49% {
    transform: scaleX(1);
  }
  50%, 100% {
    transform: scaleX(-1);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.lds-scan{
  color: #fff;
  font-size: 36px;
  margin-top: 20px;
}
.final-report{
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 80px;
}
.final-report > div:first-child{
  font-size: 36px;
  margin-top: 20px;
}
.result-table{
  border: 3px solid rgb(255, 255, 255);
  border-radius: 25px;
  padding: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #7392b786;
}
.result-table > div{
  font-size: 22px;
  font-weight: 400;
  color: #C5D5EA;
}
.result-status > div:first-child{
  display: flex;
  align-items: center;
}
.result-status > div img{
  width: 100px;
  margin-left: 30px;
}
.result-table > div a{
  color: #cb78ff;
  text-decoration: underline;
}
.result-table > div span{
  font-weight: 500;
  color: rgb(0, 193, 154);
}
.author-details{
  border: 3px solid rgb(255, 255, 255);
  border-radius: 25px;
  padding: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #7392b786;
  font-size: 22px;
}
.author-details img{
  width: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.756) ;
}
.author-head{
  font-size: 36px;
  margin-top: 20px;
}
.author-details div{
  color: #C5D5EA;
}
.author-details div span{
  color: #fff;
}
.result-status-fail{
  max-width: 500px;
  font-size: 18px;
  overflow: hidden;
}
.final-report img{
  width: 100px;
}
.errors{
  font-size: 18px;
  /* max-width: 500px; */
  overflow: hidden;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 25px;
  padding: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #7392b786;
}
.errors div{
color: #C5D5EA;
}
.errors a{
  color: #cb78ff;
  text-decoration: underline;
}
.errors div span{
  font-weight: 500;
  color: rgb(0, 193, 154);
}
.result-status-fail{
  border: 3px solid rgb(255, 255, 255);
  border-radius: 25px;
  padding: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #7392b786;
}
.result-status-fail div{
  font-size: 18px;
  font-weight: 400;
  color: #C5D5EA;
}
.result-status-fail > div{
  font-size: 18px;
  font-weight: 400;
  color: #C5D5EA;
}
.final-report-scan{
  /* max-width: 500px; */
}
.result-table > div{
  font-size: 22px;
  font-weight: 400;
  color: #C5D5EA;
}
.final-report-scan > div:first-child{
  display: flex;
  align-items: center;
}
.final-report-scan > div img{
  width: 100px;
  margin-left: 30px;
}
.result-status-fail a{
  color: #cb78ff;
  text-decoration: underline;
}
.result-status-fail  div span{
  font-weight: 500;
  color: rgb(0, 193, 154);
}
.final-report-2{
  gap: 80px;
}
.total-vul{
  padding-top: 20px;
}